footer {
    /* position: absolute;
    bottom: 0px; */
    padding: 1rem 0 2.5rem;
    /* font-size: 0.7rem; */
    color: #222;
    background: #fff;
    border-top: 1px solid #dbdadf;
    font-weight: 500;
}
.footer-first-line {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    padding: 0 3px;
    letter-spacing: -0.025em;
}
.footer-first-line a, span {
    text-decoration: none;
    color: #555555;
}
.footer-first-line a:hover {
    text-decoration: underline;
}
